.search {
  min-height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.27);

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding-right: 20px;
  }

  .title {
    width: 150px;
    min-width: 100px;
    padding: 0 5px;
    line-height: 26px;
    font-size: 24px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
  }

  .input {
    flex: 5;
    height: 40px;
    min-width: 140px;
    font-size: 20px;
    padding: 0 35px 0 10px;
    border: 1px solid  #c7c7c7;
    border-radius: 5px 0 0 5px;
    border-right: none;
    outline: none;
  }

  .cancel-button {
    transform: rotate(45deg);
    font-size: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-left: -35px;
    padding-right: 5px;
    border-radius: 50%;
    text-align: center;

    &:hover {
      font-weight: 700;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 40px;
    min-width: 60px;
    font-weight: 300;
    border-radius: 0 5px 5px 0;
    background: #f9f9f9;
    border: 1px solid #c7c7c7;
    
    &:hover {
      background: rgb(241, 241, 241);
      font-weight: 500;
    }
  }
}